body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.delImg{
    width :20px;
    height : 20px;
}
div{
    position: relative;
    float: left;
}
#div_container{
    width: 80%;
    height: 100%;
    border: 0 solid red;
    margin-left: 10%;
    float: left;
    background-color: azure;
    border-radius: 9px;
}
#tbl_fruit{
    line-height: 28px;
    width: 60%;
    margin-top: 16px;
    margin-left: 20%;
}

#tbl_fruit,#tbl_fruit td,#tbl_fruit tr{
    border: gray 1px solid;
    border-collapse: collapse;
    text-align: center;
    font-family: 黑体, serif;
    font-weight: lighter;
    color: darkslateblue;
}

#div_fruit_list{
    width: 100%;
    border: yellow 0 solid;
}

.th1{
    font-size: 21px;
    font-family: 黑体, serif;
    font-weight: bold;
}

#tbl_fruit th{
    border: gray 1px solid;
}

#add_fruit_div{
    border: black 0 solid;
    width: 40%;
    margin-left: 10%;
}

#add_fruit_tbl{
    width: 80%;
    margin-left: 50%;
    margin-top: 10%;
    border-collapse: collapse;
    line-height: 30px;

}
#add_fruit_tbl tr,#add_fruit_tbl td,#add_fruit_tbl{
    border: 1px solid lightgray;
    text-align: center;
}
.w30{
    weight: 30%;
}

.center{
    text-align: center;
}
.f30{
    font-size: 30px;
}