<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE beans [
        <!ELEMENT beans (bean*)>
        <!ELEMENT bean (property*)>
        <!ELEMENT property (#PCDATA)>

        <!ATTLIST bean id ID #REQUIRED>
        <!ATTLIST bean class CDATA #IMPLIED>
        <!ATTLIST property name CDATA #IMPLIED>
        <!ATTLIST property ref IDREF #IMPLIED>
        ]>

<beans>
    <!--Controller-->
    <bean id="page" class="com.yitsd.myssm.myspringmvc.PageController"/>
    <bean id="user" class="com.yitsd.book.controller.UserController">
        <property name="userService" ref="userService"/>
        <property name="cartItemService" ref="cartItemService"/>
    </bean>
    <bean id="book" class="com.yitsd.book.controller.BookController">
        <property name="bookService" ref="bookService"/>
        <property name="cartItemService" ref="cartItemService"/>
    </bean>
    <bean id="cart" class="com.yitsd.book.controller.CartController">
        <property name="cartItemService" ref="cartItemService"/>
    </bean>
    <bean id="order" class="com.yitsd.book.controller.OrderController">
        <property name="orderService" ref="orderService"/>
        <property name="bookService" ref="bookService"/>
    </bean>


    <!--Service-->
    <bean id="userService" class="com.yitsd.book.service.impl.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
    </bean>
    <bean id="bookService" class="com.yitsd.book.service.impl.BookServiceImpl">
        <property name="bookDAO" ref="bookDAO"/>
    </bean>
    <bean id="cartItemService" class="com.yitsd.book.service.impl.CartItemServiceImpl">
        <property name="cartItemDAO" ref="cartItemDAO"/>
        <property name="bookService" ref="bookService"/>
    </bean>
    <bean id="orderService" class="com.yitsd.book.service.impl.OrderServiceImpl">
        <property name="orderDAO" ref="orderDAO"/>
        <property name="orderItemDAO" ref="orderItemDAO"/>
        <property name="cartItemDAO" ref="cartItemDAO"/>
    </bean>


    <!--DAO-->
    <bean id="userDAO" class="com.yitsd.book.dao.impl.UserDAOImpl"/>
    <bean id="bookDAO" class="com.yitsd.book.dao.impl.BookDAOImpl"/>
    <bean id="cartItemDAO" class="com.yitsd.book.dao.impl.CartItemDAOImpl"/>
    <bean id="orderDAO" class="com.yitsd.book.dao.impl.OrderDAOImpl"/>
    <bean id="orderItemDAO" class="com.yitsd.book.dao.impl.OrderItemDAOImpl"/>
</beans>
